<form action="contact.php" method="post">
    Name<br>
    Please enter your full name<br>
    <input cols="50" type="text" name="cf_name"><br>
    E-mail<br>
    Please enter your email address<br>
    <input type="text" name="cf_email"><br>
    Subject<br>
    Please enter the subject for your message<br>
    <input type="text" name="cf_email"><br>
    Message<br>
    Please enter the message you would like to send<br>
    <textarea name="cf_message"><br>
    <input type="submit" value="Send">
    <input type="reset" value="Clear">
</form>